.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.login-register:hover {
  color: blue;
  cursor: pointer;
}
.button-end {
  display: flex;
  justify-content: flex-end;
}
