<div class="container">
  <div class="row">
    <form class="form-container" [formGroup]="login">
      <mat-form-field class="col-md-12" color="primary" appearance="legacy">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="you@email.com"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="col-md-12" color="primary" appearance="legacy">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="xxxxxx"
          formControlName="password"
        />
      </mat-form-field>
    </form>
  </div>
</div>
