@import "../../const.scss";
.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  min-width: 35vw;
}
.browse {
  text-align: end;
}
.button-end {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.no-wrap {
  white-space: nowrap;
}
.error-msg {
  color: $red;
}
p:hover {
  color: $red;
  cursor: pointer;
}
button {
  background-color: $red;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: #940303c9;
  }
}
.mat-raised-button.mat-button-disabled:not([class*="mat-elevation-z"]) {
  color: #fff;
  background-color: #94030375;
}
