<div class="container">
  <div
    class="row"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-offset="0"
    data-aos-duration="1500"
  >
    <div class="col-md-9">
      <h1>{{ recipeDetails.name }}</h1>
    </div>
    <div class="col-md-2" *ngIf="jwtService.getJwt()">
      <button
        class="mat-raised-button"
        *ngIf="!itemSaved"
        (click)="onSave('Recipe Saved', 'Nom Nom Nom')"
      >
        Save Recipe
      </button>
      <button
        class="mat-raised-button"
        *ngIf="itemSaved"
        (click)="
          onDelete(recipeDetails.id, 'Recipe removed...', 'Try another one!')
        "
      >
        Delete Recipe
      </button>
    </div>
    <div class="col-md-3" *ngIf="!jwtService.getJwt()">
      <button class="mat-raised-button" (click)="onLogin()">
        Login to save recipes!
      </button>
    </div>

    <div class="col-md-12 margin-bottom">
      <hr />
    </div>
  </div>
  <div
    class="row"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-offset="0"
    data-aos-duration="2000"
  >
    <div class="col-md-8 col-lg-8">
      <video controls *ngIf="recipeDetails.original_video_url !== null">
        <source src="{{ recipeDetails.original_video_url }}" type="video/mp4" />
      </video>
      <img
        *ngIf="recipeDetails.original_video_url === null"
        src="{{ recipeDetails.thumbnail_url }}"
        alt="{{ recipeDetails.name }}"
      />
    </div>
    <div class="col-md-3 col-lg-3 ingredient-container">
      <h3>Ingredients</h3>
      <p *ngFor="let items of recipeDetails.sections[0].components">
        {{ items.raw_text }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 spacing">
      <hr />
    </div>
    <div
      class="directions-container"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
    >
      <div class="col-md-12">
        <h3>Directions</h3>
      </div>
      <div
        class="col-md-12"
        *ngFor="let items of recipeDetails.instructions; let i = index"
      >
        <p>{{ i + 1 }}. {{ items.display_text }}</p>
      </div>
    </div>
  </div>
</div>
