@import "../../const.scss";
.loading-container {
  min-height: calc(100vh - 148px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/undraw_cooking_lyxy.svg);
  background-size: 45vh;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}
.container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 248px);
}
.recipe-container {
  align-items: center;
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}
.whole-recipe-container {
  background-color: #ffffffcc;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 10px;
  min-height: 441px;
  min-width: 310px;
  padding: 0;
  &:hover {
    cursor: pointer;
    background-color: $red;
    color: #fff;
  }
}
.remove-padding {
  padding: 0;
}
img {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  min-width: 315px;
  min-height: 315px;
  width: 90%;
  object-fit: cover;
}
h5 {
  text-align: center;
  margin-top: 20px;
}
.mat-spinner::ng-deep circle {
  stroke: $red;
}
