// Color Pallet

$light1: #ededed;
$light2: #d6e4f0;
$dark1: #1e56a0;
$dark2: #163172;
$red: rgb(148, 3, 3);
//mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
