@import "../../const.scss";
.loading-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
// mat-progress-bar {
//   margin-top: 100px;
//   width: 80vw;
// }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 148px);
}
button {
  margin: 10px;
  background-color: $red;
  color: #fff;
  padding: 3px 15px;
}
.mat-spinner::ng-deep circle {
  stroke: $red;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $red !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $red !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $red !important;
}
