@import "../../const.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 158px);
  background-image: url(../../assets/undraw_donut_love_kau1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

button {
  margin: 10px;
  background-color: $red;
  color: #fff;
  &:hover {
    background-color: #b10202;
  }
}
.mat-spinner::ng-deep circle {
  stroke: $red;
}
::ng-deep.mat-focused,
::ng-deep.mat-form-field-label,
::ng-deep.mat-form-field-underline,
::ng-deep.mat-form-field-ripple {
  /*change color of label*/
  color: black !important;
}
