<router-outlet></router-outlet>
<div class="loading-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div *ngIf="usersRecipes.length === 0">
    <h1>Save some Recipes!</h1>
  </div>
  <div class="row">
    <div
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="col-xl-4 col-lg-6 col-md-12 remove-padding"
      *ngFor="let items of usersRecipes"
    >
      <div class="whole-recipe-container" (click)="getRecipe(items.recipeId)">
        <div class="recipe-container">
          <img
            src="{{ items.recipeImage }}"
            alt="Photo of {{ items.recipeName }}"
          />
          <h5>{{ items.recipeName }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
